.Profile {
    text-align: center;
}
.Profile .container {
    display: grid;
}

.Profile .profileBox {
    background-image: url('../../common/images/profile-background-opacity-fixed.jpg');
    background-size: cover;
    display: grid;
    height: 45vh;
    place-content: center;
}

.Profile .profileBox h3 {
    font-size: 24px;
}

.Profile .profileBox-photo img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile .profileBox-userInfo {
    margin-top: 10px;
}

.Profile .personalInfo {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Profile .personalInfo-content {
    display: grid;
    place-content: center;
}

.Profile .personalInfo-content > * {
    margin-top: 3px;
}

.Profile .goal {
    border: .1rem solid #00aaef;
    border-radius: 2rem;
    margin: 0 10px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.Profile .goal > * {
    display: grid;
}

.container-content:last-child {
    display: grid;
    place-content: center;
}

.Profile .durationGraph {
    background-color: grey;
    width: 330px;
    height: 150px;
}

.Profile .text-bold {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 600px) {
    .Profile .profileBox {
        height: 45vh;
    }
}

